{% extends "base.html" %}

{% block content %}
<section>
    <h1>Create your Book Tracker account</h1>

    <p>
        Register to add books to your personal library, add ratings, and save notes.
    </p>

    <form method="post">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <div>
            {{ form.username.label_tag }}
            {{ form.username }}
            {{ form.username.errors }}
        </div>

        <div>
            {{ form.email.label_tag }}
            {{ form.email }}
            {{ form.email.errors }}
        </div>

        <div>
            {{ form.password1.label_tag }}
            {{ form.password1 }}
            {{ form.password1.errors }}
        </div>

        <div>
            {{ form.password2.label_tag }}
            {{ form.password2 }}
            {{ form.password2.errors }}
        </div>
        <br>
        <button type="submit" class="button">Create account</button>
    </form>
    <br>
    <p class="form-footer">
        Already have an account?
        <a href="{% url 'login' %}">Log in</a>.
    </p>
</section>
{% endblock %}